*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Aca tengo un problema con el fondo en degradee que se ve del lado izquierdo un par de pixeles mas sobresalinedo del 
contenido y no se como eliminarselo*/
body{
    width: 100%;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

h1{
    color:#161515;
    font-family: 'Amatic SC', Bold;
    font-size: 40px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
h2{
    color:#3b3a3a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 5px;
    padding: 5px;
    
}

h3{
    color:#696767;
    font-family: 'Amatic SC', Bold;
    font-size: 18px;
    text-align: left;
}
p{
    color: rgb(10, 10, 10);
    font-family: 'Arya', sans-serif;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    overflow: auto;
    width: 100%
}
/*Aca coloque un DIV con el class contenedor porque si no entendi mal tengo que establecer la etiqueta padre que va a indicar
como va a ser el layout para toda la pagina, por lo que tiene que abarcar todos las secciones de la pagina header, main, footer, asides, etc
que despues es la que tengo que utilizar para hacer el media query*/
.contenedor{
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr 2fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "Peliculas Juegos Anime"
    "footer footer footer";
}



.navbar-nav{
    width: 100%;
    padding: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: nav;

}
/*etiqueta padre de la barra de navegacion, intente aplicar flexbox, elimine el display:inline-block 
para los hijos, le pongo un widht: 50% a la caja contenedora, pero siento que estoy poniendo codigo de mas
o que esta  mal ordenando*/

.navbar-nav{
    margin-left: 0px;
    padding: 5px;
    text-align: left;
}
.navbar-nav a{
    text-decoration: none;
    color:rgb(5, 148, 148)
    
    
}
.navbar-nav a:hover{
    color: rgb(61, 96, 97);
}


.categoria{
    display: block;
    position: relative;
}
.categoria:hover{
    color:#386166
}


.galeria{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: main;
}

.destacados{
    color: rgb(31, 35, 37);
    background-color:rgb(209, 201, 190);
    font-family: 'Amatic SC', bold;
    font-size: 50px;
    text-align: center;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    grid-area: peliculas juegos anime;

}
/*.liveAction{
    padding: 2px;
    margin: 1rem;
    width: 33%;
    height: 500px;
    border-radius: 4px;
    border: 1px solid #386166;
    background-color:rgb(209, 201, 190);
    grid-area: peliculas;
    overflow: hidden; /*Aca queria que las imagenes estuvieran contenidas dentro de la caja pero no lo logre, 
    asi que le coloque el overflow pero no es exactamente lo que queria
}

.juegos{
    padding: 2px;
    margin: 1rem;
    width: 33%;
    height: 500px;
    grid-area: juegos;
    border-radius: 4px;
    border: 1px solid #386166;
    background-color:rgb(209, 201, 190);
    overflow: hidden;
}

.anime{
    padding: 2px;
    margin: 1rem;
    width: 33%;
    height: 500px;
    grid-area: anime;
    border-radius: 2px;
    border: 1px solid #386166;
    background-color:rgb(209, 201, 190);
    overflow: hidden;
}*/

/*.destacados li{
    margin: auto;
    padding:10px;

}
.destacados li a{
    text-decoration: none;
    color:rgb(121, 114, 114);

}
.destacados li a:hover{
    color: black;
}

.destacados li:hover{
    background-color: cadetblue;
    
}
*/
.minorista .tienda{
    font-family: roboto mono;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.ventaMayorista {

    padding-top: 5rem;
}


.quienesSomos {

    padding-top: 5rem;
}


.redesSociales{
    margin: 0;
    list-style-type: none;
    width: 80%;
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:right;
    grid-area:footer;
    

}

footer .redesSociales a{
    margin-left: 0.5rem;
    width: 25px;
    }


.redesSociales .redes:hover{
    transform: scaleX(70%)
}

.minorista a{
    text-decoration: none;
    color:rgb(24, 24, 24)

}

.minorista a:hover{
    color: cadetblue;
    transform: scaleY(70%)
}

footer{
    margin: 1px;
    opacity: .7;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: footer;

}



form{
    text-align: left;
    margin: 1px;
    padding: 1% 1% 35% 35%;    
    color: rgb(31, 30, 30);
    font-family: 'Amatic SC', bold;
    font-size: 25px;
    list-style-type: none;
    display: inline-block;
}

/*Estilos para el main del HTML Peliculas*/


.galeriaPeliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postersPeliculas{
    width: 250px;
    height: 400px;
    padding: auto;
    margin: 10px;
    overflow: hidden;
}

.postersPeliculas:hover{
    filter: blur(5px);

}


@media screen and (max-width: 700px){
    .contenedor{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }
    .menu {
        color: rgb(214, 214, 214);
        background-color: transparent;}
}


@media screen and (max-width: 400px){
    .contenedor{
        grid-template-columns: 2fr;
        grid-template-rows: 2fr 1fr 5fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .menu {
        color: rgb(214, 214, 214);
    background-color: transparent;}

}

