.container .navbar-nav {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: navbar;
  margin-left: 0px;
  padding: 5px;
  text-align: left;
}

.container .navbar-nav a {
  text-decoration: none;
  color: #059494;
}

.container .navbar-nav a:hover {
  color: #3d6061;
}

.destacados {
  color: #1f2325;
  background-color: #d1c9be;
  font-family: 'Amatic SC', bold;
  font-size: 50px;
  text-align: center;
  margin: 0;
  list-style-type: none;
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-area: destacados;
}

footer {
  margin: 1px;
  opacity: .7;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: footer;
}

footer .minorista .tienda {
  font-family: amatic;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

footer .minorista .tienda a {
  text-decoration: none;
  color: #181818;
}

footer .minorista .tienda a:hover {
  color: #363b3b;
  -webkit-filter: drop-shadow(0 0 0.75rem #5c5a5a);
          filter: drop-shadow(0 0 0.75rem #5c5a5a);
}

footer .redesSociales {
  margin: 0;
  list-style-type: none;
  width: 80%;
  padding-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: footer;
}

footer .redesSociales .redes a {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redesSociales .redes:hover {
  -webkit-transform: scaleX(70%);
          transform: scaleX(70%);
}

h1 {
  color: #161515;
  font-family: 'Amatic SC', Bold;
  font-size: 40px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

h2 {
  color: #3b3a3a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: justify;
  margin: 5px;
  padding: 5px;
}

h3 {
  color: #696767;
  font-family: 'Amatic SC', Bold;
  font-size: 18px;
  text-align: left;
}

p {
  color: #0a0a0a;
  font-family: 'Arya', sans-serif;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  overflow: auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.galeria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: galeria;
}

form {
  text-align: left;
  margin: 1px;
  padding: 1% 1% 35% 35%;
  color: #1f1e1e;
  font-family: 'Amatic SC', bold;
  font-size: 25px;
  list-style-type: none;
  display: inline-block;
}

/*Estilos para el main del HTML Peliculas*/
.galeriaPeliculas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.galeriaPeliculas .postersPeliculas {
  width: 250px;
  height: 400px;
  padding: auto;
  margin: 10px;
  overflow: hidden;
}

.galeriaPeliculas .postersPeliculas:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/*Estilos para el main del HTML Venta Mayorista*/
.ventaMayorista {
  padding-top: 5rem;
}

/*Estilos para el main del HTML Quienes Somos*/
.quienesSomos {
  padding-top: 5rem;
}
/*# sourceMappingURL=estilos.css.map */